:root {
    --ft-heading-font-family: var(--ft-text-font-family);
    --ft-heading-font-weight: 500;
    --ft-heading-line-height: 1.2;
    --ft-heading-color: var(--ft-text-dark-color);
    --ft-heading-margin-bottom: calc(1rem * 0.5);

    --ft-text-font-family: sans-serif;
    --ft-text-font-size: 1rem;
    --ft-text-font-size-sm: calc(var(--ft-text-font-size) * 0.875);
    --ft-text-font-size-lg: calc(var(--ft-text-font-size) * 1.25);
    --ft-text-font-weight: 300;
    --ft-text-line-height: normal;
    --ft-text-color: var(--ft-text-dark-color);
    --ft-text-color-rgb: var(--ft-text-dark-color-rgb);
    --ft-text-muted-color: rgba(var(--ft-text-color-rgb), 0.5);
    --ft-text-light-color: #fff;
    --ft-text-light-color-rgb: 255, 255, 255;
    --ft-text-dark-color: #333;
    --ft-text-dark-color-rgb: 51, 51, 51;
    --ft-text-link-color: var(--ft-primary-color);
    --ft-text-link-hover-color: rgb(var(--ft-primary-color-rgb), 0.9);
    --ft-text-link-opacity: 1;

    --ft-danger-color: #dc3545;
    --ft-danger-color-rgb: 220, 53, 69;
    --ft-warning-color: #ffc107;
    --ft-warning-color-rgb: 255, 193, 7;
    --ft-success-color: #198754;
    --ft-success-color-rgb: 25, 135, 84;
    --ft-info-color: #0dcaf0;
    --ft-info-color-rgb: 13, 202, 240;
    
    --ft-avatar-size: 2.25rem;
    --ft-avatar-bg: #fff;

    --ft-button-bg: unset;
    --ft-button-bg-rgb: 0, 0, 0;
    --ft-button-border-color: unset;
    --ft-button-border-radius: 0.25rem;
    --ft-button-color: var(--ft-primary-color);
    --ft-button-hover-bg: rgba(var(--ft-button-bg-rgb), 0.1);
    --ft-button-focus-bg: rgba(var(--ft-button-bg-rgb), 0.1);
    --ft-button-active-bg: rgba(var(--ft-button-bg-rgb), 0.2);

    --ft-field-label-color: rgba(var(--ft-text-color-rgb), 0.7);
    --ft-field-label-font-size: var(--ft-text-font-size-sm);
    --ft-field-label-line-height: var(--ft-text-line-height);

    --ft-popup-box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12),
        0px 11px 15px rgba(0, 0, 0, 0.2);
}
