.ft-list {
    &--comfortable {
        .ft-collapsible__header,
        .ft-list__header {
            padding: 0.75rem 0.75rem 0.75rem 1.5rem;
        }
        .ft-list__item {
            padding: 0.75rem 1.5rem;
        }
    }
    &__header {
        text-transform: uppercase;
        font-weight: 700;
        padding: 0.5rem 0.75rem 0.25rem;
        font-size: 0.75rem;
        opacity: 0.3;
    }
    &__item {
        text-align: left;
        padding: 0.5rem 0.75rem;
        width: 100%;
        display: block;
        text-decoration: none;
        font-size: 0.875rem;
        font-weight: 400;
        justify-content: flex-start;
        &.ft-button {
            text-align: left;
            justify-content: flex-start;
        }
        &:focus {
            box-shadow: 0 0 0;
        }
        &:not(:hover):not(:disabled) {
            color: var(--ft-text-color);
        }
        .ft-item {
            max-width: 100%;
            display: flex;
            align-items: center;
            gap: 0.25rem;
            &__icon {
                font-size: 1.5rem;
            }
            &__icon + .ft-item__label {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &__icon,
            &__label {
                transition: margin-left 0.3s;
            }
            &__toggle {
                transition: transform 0.2s;
            }
            &__label {
                flex-grow: 1;
            }
        }
    }
}
